<%- include('./layout/header.ejs') -%>
    <header class="py-3">
        <%- include('./components/nav.ejs') -%>
    </header>
    <main class="bg-white py-3">
        <div class="container">
            <div class="row">
                <%- include('./components/nav-profile.ejs') -%>
                    <div class="col-md-6 py-3 border-bottom border-muted">
                        <h5 class="mb-1">Your Total Credit Points: </h5>
                        <h4 class="text-info align-items-center">
                            <span>41 ($41.00)</span>
                            <a class="ml-2 btn btn-sm btn-warning text-white">Cashout</a>
                        </h4>
                    </div>
                    <div class="col-md-6 py-3 border-bottom border-muted">
                        <form action="">
                            <div class="row align-items-center text-md-left text-center">
                                <div class="col-md-4">Purchase Credit Points:</div>
                                <div class="col-md-4 px-md-0">
                                    <input class="form-control" type="number" name="" />
                                </div>
                                <div class="col-md-4 mt-md-0 mt-3">
                                    <button class="btn btn-primary text-uppercase" type="submit">purchase now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 px-md-0 w-100" id="--js-table" jqueryScroll="table">
                        <table class="table table-hover">
                            <thead class="bg-dark">
                                <tr class="text-uppercase text-light">
                                    <td>ID</td>
                                    <td>Details</td>
                                    <td class="text-center">Credit Point</td>
                                    <td class="text-right">Date</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-info">
                                    <td>140000</td>
                                    <td>Earn Points By Purchase</td>
                                    <td class="text-center">+10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>140001</td>
                                    <td>Credit Points Request Cashout</td>
                                    <td class="text-center">-10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                                <tr class="text-info">
                                    <td>140000</td>
                                    <td>Earn Points By Purchase</td>
                                    <td class="text-center">+10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>140001</td>
                                    <td>Credit Points Request Cashout</td>
                                    <td class="text-center">-10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                                <tr class="text-info">
                                    <td>140000</td>
                                    <td>Earn Points By Purchase</td>
                                    <td class="text-center">+10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>140001</td>
                                    <td>Credit Points Request Cashout</td>
                                    <td class="text-center">-10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                                <tr class="text-info">
                                    <td>140000</td>
                                    <td>Earn Points By Purchase</td>
                                    <td class="text-center">+10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>140001</td>
                                    <td>Credit Points Request Cashout</td>
                                    <td class="text-center">-10</td>
                                    <td class="text-right">25/5/2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <%- include('./components/pagination.ejs') -%>
                    </div>
            </div>
        </div>

    </main>
    <%- include('./layout/footer.ejs') -%>