<%- include('./layout/header.ejs') -%>
    <header class="py-3">
        <%- include('./components/nav.ejs') -%>
    </header>
    <main class="container">
        <%- include('./components/search_home.ejs') -%>
        <%- include('./components/product_show.ejs') -%>
        <%- include('./components/plan_hot.ejs') -%>

    </main>
    <%- include('./layout/footer.ejs') -%>